<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @customer_name %></h1>
    <p>
      Seu pedido foi confirmado com sucesso!
    </p>
    <h2>Detalhes do pedido:</h2>
    <p>Obrigado por comprar conosco!</p>
  </body>
</html>